<div class="container">
<h1>Manage your orders:</h1>

  <table class='table'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Origin</th>
        <th scope="col">Destination</th>
        <th scope="col">Ready to Load</th>
        <th scope="col">Type of Shipment</th>
        <th scope="col">Container Pack</th>
        <th scope="col">Expire Date</th>
        <th scope="col">Price</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <% @bookings.each do |booking| %>
        <tr>
          <th scope="row"><%= booking.freight.id %></th>
          <td><%= booking.freight.origin %></td>
          <td><%= booking.freight.destination %></td>
          <td><%= booking.freight.ready_to_load %></td>
          <td><%= booking.freight.type_of_shipment %></td>
          <td><%= booking.freight.container_pack %></td>
          <td><%= booking.freight.expire_date %></td>
          <td><%= booking.freight.price %></td>
          <td><%= booking.status %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
