<div class="container">
 <div class="order">
  <h1>Manage your orders:</h1>
  <div class="filter form-group form-inline">
    <span class="filter-title">Filter by status:</span>
    <%= form_tag carriers_bookings_path, method: :get do %>
    <%= select_tag :status, options_for_select(['Pending', 'Approved', 'Rejected']), {:prompt => "All", class: "form-control"} %>
    <%= submit_tag :submit, class: "btn btn-primary" %>
    <% end %>
    </div>
  </div>
  <table class='table table-striped'>
    <thead class="head-table text-center">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Origin</th>
        <th scope="col">Destination</th>
        <th scope="col">Ready to load</th>
        <th scope="col">Type of shipment</th>
        <th scope="col">Container</th>
        <th scope="col">Price</th>
        <th scope="col">Status</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <tbody>
      <% @bookings.each do |booking| %>
        <tr class="text-center">
          <th scope="row"><%= booking.id %></th>
          <td><%= booking.freight.origin %></td>
          <td><%= booking.freight.destination %></td>
          <td><%= booking.freight.ready_to_load.strftime('%d %b, %Y') %></td>
          <td><%= booking.freight.type_of_shipment %></td>
          <td><%= booking.freight.container_pack %></td>
          <td><%= booking.freight.price %></td>
          <td><%= booking.status.capitalize %></td>
          <td>

            <% if booking.status == 'pending' %>
              <%#= link_to "Click here", edit_carriers_booking_path(booking), class: 'btn btn-secondary btn-sm' %>
              <%= simple_form_for [:carriers, booking], remote: true, class: 'm-0' do |f| %>
                <%= f.input :status, collection: ['Approved', 'Rejected'], novalidate:'novalidate', class: 'm-0', label: false, input_html: { class: "option", :data => { :id => booking.id}} %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

