<div class="container">
  <div class="profile">
    <%= image_tag "097-user.png", class: "img-profile-page" %>

    <p>First name: <%= @shipper.first_name %></p>
    <p>Last name: <%= @shipper.last_name %></p>
    <p>Company: <%= @shipper.company_name %></p>
    <p>Job title:<%= @shipper.job_title %></p>
    <p>CNPJ: <%= @shipper.CNPJ %></p>
    <p>Vol freq: <%= @shipper.vol_freq %></p>
  </div>
</div>
