<h1>My list of freight</h1>
<% @freights.each do |freight| %>
  <h2><%= freight.origin %></h2>
  <p><%= freight.destination %></p>
  <%= simple_form_for [freight, @booking]  do |f| %>
    <%= f.submit 'Book now', class: 'btn btn-primary' %>
  <% end %>
<% end %>

<div class="freight-card offset-3 col-6 ">
	<div class="block-left">
		<div class="card-company-name">
			<%= image_tag "dale-ship-logo.png", class: "dale-logo" %>
			<h4 class="company-title">DaleShip</h4>
		</div>
		<div class="card-route">
		<p><i class="fas fa-ship"></i><%= @freight.origin %></p>
	  <p><%= @freight.destination %></p>
	  </div>

		<p>
			Ready to Load Date: <%= @freight.ready_to_load.day %> / <%= @freight.ready_to_load.month %> / <%= @freight.ready_to_load.year %>
		</p>
  </div>
	<div class="block-right">
		<p>
			<%= @freight.type_of_shipment %>	<%= @freight.container_pack %>
		</p>
		<div class="btnprice btn btn-secondary">
			<span class="book now"></span>
		  <%= @freight.price %>
		</div>
	</div>
</div>
