	<div class="dflex formhome">
	  <%= form_tag search_path, class: "form-inline mt-5",  method: :get do %>
	    <%= select_tag 'origin', options_for_select(Port.all.collect {|port| port.name}), include_blank: true, class: 'form-control mr-sm-2 origin-search-form', placeholder: 'Origin'  %>
	    <%= select_tag 'destino', options_for_select(Port.all.collect {|port| port.name}), include_blank: true, class: 'form-control mr-sm-2 destino-search-form',
	    placeholder: 'Destination'  %>
	    <%= text_field_tag :ready_to_load, params[:ready_to_load], class:" datepicker", placeholder: "Ready to Load"%>
	    <%= select_tag 'type_of_shipment', options_for_select(['FCL', 'LCL']), include_blank: true, class: 'form-control mr-sm-2 type_of_shipment-search-form', placeholder: 'Type of Shipment'  %>
	    <%= submit_tag :search, class: 'btn btn-primary searchbtn' %>
	    <% end %>
	    </div>
	  </div>
	</div>
