<div class="banner">
  <div class="container">
    <h1>FIND THE BEST INTERNATIONAL FREIGHT QUOTES</h1>
    <p>Unique trading experience shipping to and from anywhrere</p>


  <div class="dflex formhome">
    <%= form_tag search_path, class: "form-inline mt-5",  method: :get do %>
      <%= select_tag 'origin', options_for_select(Port.all.collect {|port| port.name}), include_blank: true, class: 'form-control mr-sm-2 origin-search-form', placeholder: 'Origin'  %>
      <%= select_tag 'destino', options_for_select(Port.all.collect {|port| port.name}), include_blank: true, class: 'form-control mr-sm-2 destino-search-form',
      placeholder: 'Destination'  %>
      <%= text_field_tag :ready_to_load, params[:ready_to_load], class:" datepicker", placeholder: "Ready to Load"%>
      <%= select_tag 'type_of_shipment', options_for_select(['FCL', 'LCL']), include_blank: true, class: 'form-control mr-sm-2 type_of_shipment-search-form', placeholder: 'Type of Shipment'  %>
      <%= submit_tag :search, class: 'btn btn-primary' %>
      <% end %>
      </div>
    </div>
  </div>



<div class="how-it-works">
<h1>CUSTOMERS ENJOYING ONLINE OCEAN FREIGHT</h1>
  <div class="card m-5 text-center">
    <div class="DashboardContainer text-center">
      <h2 class="title-home mb-5 border-bottom "><span style="color:#20b286">simplifying global trade</span></h2>
      <div class="Grid row">
        <div class='col-3'>
          <i class="fas fa-search-location" style="font-size:56px"></i>
          <h2 class="subtitle">Get your freight <span style="color:#20b286">QUOTE</span> in a digital way</h2>
          <p>Our partner network will provide the best conditions for you all this online</p>
        </div>
        <div class="col-3">
          <i class="fas fa-calendar-check" style="font-size:56px"></i>
          <h2 class="subtitle">Compare and <span style="color:#20b286"> BOOK </span> the best quotations for your business</h2>
          <p>Book the best freight by price, terms and valuation of the Service Supplier</p>
        </div>
        <div class="col-3">
          <i class="fab fa-docker" style="font-size:56px"></i>
          <h2 class="subtitle"><span style="color:#20b286"> MANAGE </span> your shipments online</h2>
          <p>
          Once you’ve made your choice, track your shipment status on every step of the way</p>
        </div>
        <div class="col-3">
          <i class="far fa-star" style="font-size:56px"></i>
          <h2 class="subtitle">Your feedback is <span style="color:#EAB647"> GOLD </span> for us</h2>
          <p>This is a global challenge where many people are involved. Your review helps us be better every day</p>
        </div>
      </div>
    </div>
  </div>
  <h1>I WANT BE A FORWARDER PARTNER </h1>

  <div class="card text-center m-5">
    <div class="DashboardContainer text-center">
      <h2 class="title-home border-bottom"><span style="color:#20b286">YOUR CUSTOMERS ARE ALREADY ONLINE</span></h2>
      <div class="Grid row">
        <div class='col-4'>
          <i class="far fa-newspaper" style="font-size:56px"></i>
          <h2 class="subtitle">HOW WE DO IT</h2>
          <p>Define rates and mode of transport. Find eligible customers - set your criteria for shippers you work with.</p>
        </div>
        <div class="col-4">
          <i class="fas fa-tasks" style="font-size:56px"></i>
          <h2 class="subtitle">SELL EVERYWHERE</h2>
         <p>Use one online platform to sell shipping rates to anyone, anywhere - with your ecommerce back-office</p>
        </div>
        <div class="col-4">
          <i class="fas fa-hat-wizard" style="font-size:56px"></i>
          <h2 class="subtitle">ALL-IN-ONE DASHBOARD</h2>
          <p>TKeep track of all your bookings, independent of carrier, on one single view and get notified immediately of any changes in shipment status.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    DaleShip <i class="fas fa-heart"></i> from
  </div>
</div>
