<div class="banner">
  <div class="container">
    <h1>FIND THE BEST INTERNATIONAL FREIGHT QUOTES</h1>
    <h4><span id="banner-typed-text"></span></h4>


  <div class="dflex formhome">
    <%= form_tag search_path, class: "form-inline mt-5",  method: :get do %>
      <%= select_tag 'origin', options_for_select(Port.all.collect {|port| port.name}), include_blank: true, class: 'form-control mr-sm-2 origin-search-form', placeholder: 'Origin'  %>
      <%= select_tag 'destino', options_for_select(Port.all.collect {|port| port.name}), include_blank: true, class: 'form-control mr-sm-2 destino-search-form',
      placeholder: 'Destination'  %>
      <%= text_field_tag :ready_to_load, params[:ready_to_load], class:" datepicker", placeholder: "Ready to Load"%>
      <%= select_tag 'type_of_shipment', options_for_select(['FCL', 'LCL']), include_blank: true, class: 'form-control mr-sm-2 type_of_shipment-search-form', placeholder: 'Type of Shipment'  %>
      <%= submit_tag :search, class: 'btn btn-primary searchbtn' %>
      <% end %>
      </div>
    </div>
  </div>

<div class="container ">
  <h1 class="text-center"><span style="color:#20b286">How it works</span></h1>
    <div class="d-flex dashboard-cards-home" style="justify-content: space-around;">
      <div class="dashboardhome">
          <i class="fas fa-search-location" style="font-size:50px"></i>
            <h2 class="subtitle">Get your freight <span style="color:#20b286">QUOTE</span></h2>
            <p>Our partner network will provide the best conditions for you</p>
      </div>
      <div class="dashboardhome">
          <i class="fas fa-calendar-check" style="font-size:50px"></i>
            <h2 class="subtitle">Compare and <span style="color:#20b286"> BOOK </span></h2>
            <p>Book the best freight by price, terms and valuation of the Service Supplier</p>
      </div>
      <div class="dashboardhome">
          <i class="fab fa-docker" style="font-size:50px"></i>
          <h2 class="subtitle"><span style="color:#20b286"> MANAGE </span> your shipments online</h2>
          <p>Once you’ve made your choice, track your shipment status on every step of the way</p>
      </div>
      <div class="dashboardhome">
          <i class="far fa-star" style="font-size:50px"></i>
            <h2 class="subtitle">Your feedback is <span style="color:#EAB647"> GOLD </span> for us</h2>
            <p>Your review helps us be better every day</p>
      </div>
    </div>
</div>

<div>
  <div class="session3">
    <div class="card text-center">
      <div class="DashboardContainer text-center">
        <div class="gridrow">
          <div class='col-6'>
            <h2 class="card-subtitle"><span style="color:white"><span style="color:#20b286">Technology</span> combined with international logistics</h2>
              <h5 class="card-description mb-4"><span style="color:white"> Get instant quote, no hidden fees</span></h5>
              <p></p>
              <h5 class="card-description"><span style="color:white"> Book online quotation and reduce your international shipping costs</span></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="session5">
  <div class="card text-center">
    <div class="card text-center" style="color:#30618F">
      <div class="DashboardContainer text-center">
        <h2 class="title-home "><span style="color:#20b286">Agents: Go global & grow your customer base</span></h2>
        <div class="gridrow3">
          <div class='col-4'>
            <i class="far fa-newspaper" style="font-size:56px"></i>
            <h2 class="subtitle">HOW WE DO IT</h2>
            <p>Define rates and mode of transport. Find eligible customers - set your criteria for shippers you work with.</p>
          </div>
          <div class="col-4">
            <i class="fas fa-tasks" style="font-size:56px"></i>
            <h2 class="subtitle">SELL EVERYWHERE</h2>
           <p>Use one online platform to sell shipping rates to anyone, anywhere - with your ecommerce back-office</p>
          </div>
          <div class="col-4">
            <i class="fas fa-hat-wizard" style="font-size:56px"></i>
            <h2 class="subtitle">ALL-IN-ONE DASHBOARD</h2>
            <p>Keep track of all your bookings. Grow with us and do business with the world through our platform.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="session4">
  <div class="card text-center">
    <div class="DashboardContainer text-center">
      <div class="gridrow2">
        <div class='col-6 py-4'>
          <h2 class="card-subtitlehome"><span style="color:#f1b831">Building digital bridges, driving real business</h2>
          <h5 class="card-description mb-4"> Your partner for today and tomorrow</h5>
          <p></p>
          <h5 class="card-description">BOOSTING global connections + deals</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="flex-container">
  <div class="flex-item-1">
  <%= image_tag("global_coverage.png", width: '650px') %>
  </div>
  <div class="flex-item-2">
      <div class="contactform">
        <h3><span style="color:#F1B833">Contact Us</span></h3>
        <form>
          <div class="form-group">
            <label for="exampleFormControlInput1">Name</label>
            <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="name">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Message</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-primary mb-2">Let's talk</button>
        </form>
      </div>
  </div>
</section>
