
<div class="freight-card offset-3 col-6 ">
	<div class="block-left">
		<div class="card-company-name">
			<%= image_tag "dale-ship-logo.png", class: "dale-logo" %>
			<h4 class="company-title">DaleShip</h4>
		</div>
		<div class="card-route">
		<p><i class="fas fa-ship"></i><%= @freight.origin %></p>
	  <p><%= @freight.destination %></p>
	  </div>
	  <%= @freight.type_of_shipment %>
		<%= @freight.container_pack %>
  </div>
	<div class="block-right">
		<p>Ready to Load Date: <%= @freight.ready_to_load.day %> / <%= @freight.ready_to_load.month %> / <%= @freight.ready_to_load.year %></p>
		<div class="btnprice btn btn-secondary">
			<span class="book now"></span>
		  <%= @freight.price %>
		</div>
	</div>
</div>
	  <%#= link_to "Back to home", root_path, class: 'btn btn-primary rounded-lg' %>
	  <%#= link_to "Edit", edit_carriers_freight_path, class: 'btn btn-secondary rounded-lg' %>
	  <%#= link_to "Delete", carriers_freight_path(@freight), method: :delete, data: { confirm: "Are you sure?"}, class: 'btn btn-danger rounded-lg' %>




